* {
    font-family: monospace;
    font-size: 20px;
    color: white;
    background-color: rgb(90, 47, 243);
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    margin: 7px;
}

input {
    border: 2px solid white;
}