/* css of the website */
* {
    font-family: monospace;
    font-size: 20px;
    color: white;
    background-color: rgb(90, 47, 243);
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    margin: 7px;
}

input, textarea {
    border: 2px solid white;
}

li {
    text-align: center;
    display: inline;
    margin: 3px;
}

ul {
    float: left;;
    width: 100%;
}
